In [49]:
import pandas as pd
import os

In [50]:
File_to_load = os.path.join("Resources","clean_students_complete.csv")
student_data_df = pd.read_csv(File_to_load)
File_to_load2 = os.path.join("Resources","schools_complete.csv")
school_data_df = pd.read_csv(File_to_load2)

In [51]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [52]:
# Get the total number of students.
student_count = school_data_complete_df["student_name"].count()
student_count

39170

In [53]:
school_count = school_data_df["school_name"].count()
school_count

15

In [54]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [55]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [56]:
# Calculate the average reading score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [57]:
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70
passing_math.head()

0     True
1    False
2    False
3    False
4     True
Name: math_score, dtype: bool

In [58]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [59]:
# Get all the students who are passing math in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [60]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()
passing_math_count

29370

In [61]:
# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()
passing_reading_count

33610

In [62]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / student_count * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / student_count * 100

In [63]:
passing_math_percentage

74.9808526933878

In [64]:
passing_reading_percentage

85.80546336482001

In [65]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [66]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [67]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [68]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [72]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100
passing_math_percent(pass_math_count, student_count)

NameError: name 'pass_math_count' is not defined